{% extends 'base.html.twig' %}

{% block title %}Touts nos téléphones{% endblock %}

{% block body %}
<section class="container-fluid row text-dark justify-content-around">
    {% for telephone in telephones%}
        <div class="col-3 card mx-3 my-1 py-2 rounded">
            <img src="{{ asset('/uploads/images/telephones/') }}{{telephone.image}}" class="card-img-top rounded" alt="{{ telephone.modelName }}" style="height:18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ telephone.modelName }}</h5>
                <p class="card-text"><small>Capacitée de stockage : </small>{{ telephone.stockage }} <small>Go</small></p>
                <p class="card-text"><small>Déscription : </small>{{ telephone.description }}</p>
                <p class="card-text"><small>Prix : </small><strong>{{ telephone.price }}€</strong></p>
                <div class="d-flex justify-content-around">
                    <a href="{{ path('telephone_show',{id: telephone.id}) }}" class="text-primary fw-bolder text-decoration-none">Voir</a>
                <a href="{{ path('telephone_edit',{id: telephone.id}) }}" class="text- fw-bolder text-warning text-decoration-none">Modifier</a>
                <a href="{{ path('telephone_delete',{id: telephone.id}) }}" class="text-danger fw-bolder text-decoration-none">Supprimer</a></div>

            </div>
        </div>
    {% endfor %}

</section>
{% endblock %}
